src/main/webapp/wsdl/AS400SearchImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.service.coms.follett.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.service.coms.follett.com" xmlns:intf="http://impl.service.coms.follett.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://impl.service.coms.follett.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAS400OrdersByCriteria">
    <complexType>
     <sequence>
      <element name="orderNumber" type="xsd:long"/>
      <element name="orderSuffix" type="xsd:string"/>
      <element name="customerNumber" type="xsd:long"/>
      <element name="quoteNumber" type="xsd:long"/>
      <element name="customerName" type="xsd:string"/>
      <element name="poNumber" type="xsd:long"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zip" type="xsd:string"/>
      <element name="nation" type="xsd:string"/>
      <element name="orderStatus" type="xsd:string"/>
      <element name="orderId" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAS400OrdersByCriteriaResponse">
    <complexType>
     <sequence>
      <element name="getAS400OrdersByCriteriaReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="getAS400CustomersByCriteria">
    <complexType>
     <sequence>
      <element name="customerNumber" type="xsd:long"/>
      <element name="customerName" type="xsd:string"/>
      <element name="mdrPermanentIdNumber" type="xsd:string"/>
      <element name="addressLineOne" type="xsd:string"/>
      <element name="phoneNumber" type="xsd:long"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="postalCode" type="xsd:string"/>
      <element name="nation" type="xsd:string"/>
      <element name="contactName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAS400CustomersByCriteriaResponse">
    <complexType>
     <sequence>
      <element name="getAS400CustomersByCriteriaReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAS400ItemsByCriteria">
    <complexType>
     <sequence>
      <element name="bookNumber" type="xsd:long"/>
      <element name="title" type="xsd:string"/>
      <element name="author" type="xsd:string"/>
      <element name="copyrightYear" type="xsd:long"/>
      <element name="vendorNumber" type="xsd:long"/>
      <element name="publisherCode" type="xsd:string"/>
      <element name="vendorProductNumber" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAS400ItemsByCriteriaResponse">
    <complexType>
     <sequence>
      <element name="getAS400ItemsByCriteriaReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAS400ItemsByCriteriaResponse">

      <wsdl:part element="impl:getAS400ItemsByCriteriaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAS400OrdersByCriteriaResponse">

      <wsdl:part element="impl:getAS400OrdersByCriteriaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAS400CustomersByCriteriaRequest">

      <wsdl:part element="impl:getAS400CustomersByCriteria" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAS400CustomersByCriteriaResponse">

      <wsdl:part element="impl:getAS400CustomersByCriteriaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAS400OrdersByCriteriaRequest">

      <wsdl:part element="impl:getAS400OrdersByCriteria" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAS400ItemsByCriteriaRequest">

      <wsdl:part element="impl:getAS400ItemsByCriteria" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AS400SearchImpl">

      <wsdl:operation name="getAS400OrdersByCriteria">

         <wsdl:input message="impl:getAS400OrdersByCriteriaRequest" name="getAS400OrdersByCriteriaRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAS400OrdersByCriteriaResponse" name="getAS400OrdersByCriteriaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAS400CustomersByCriteria">

         <wsdl:input message="impl:getAS400CustomersByCriteriaRequest" name="getAS400CustomersByCriteriaRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAS400CustomersByCriteriaResponse" name="getAS400CustomersByCriteriaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAS400ItemsByCriteria">

         <wsdl:input message="impl:getAS400ItemsByCriteriaRequest" name="getAS400ItemsByCriteriaRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAS400ItemsByCriteriaResponse" name="getAS400ItemsByCriteriaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AS400SearchImplSoapBinding" type="impl:AS400SearchImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAS400OrdersByCriteria">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAS400OrdersByCriteriaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAS400OrdersByCriteriaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAS400CustomersByCriteria">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAS400CustomersByCriteriaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAS400CustomersByCriteriaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAS400ItemsByCriteria">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAS400ItemsByCriteriaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAS400ItemsByCriteriaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AS400SearchImplService">

      <wsdl:port binding="impl:AS400SearchImplSoapBinding" name="AS400SearchImpl">

         <wsdlsoap:address location="http://localhost%3A8080/services/AS400SearchImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
